.gm-style .gm-style-iw-c {
    padding: 0 !important;
    border-radius: 8px !important;
}

.gm-style .gm-style-iw-d {
    overflow: auto !important;
}

.gm-style-iw-chr {
    display: none !important;
}
.pac-container {
    z-index: 9999 !important;
}